{% extends 'base.html.twig' %}


{% block body %}


	<div class="container">
		<div class="Titre">
			<h1>Maison des ligues</h1>

		</div>

		<div class="home">
		<h2>Championnat du monde d'escrime artistique :</h2>
		{# <div class"container"> #}
		<div>
			<img class="imgEscrime" src="{{asset('assets/images/escrime_noir_blanc.jpg')}}" title="image d'un duel d'escrimeurs sur un parvis, de Ben Kerckx et Pixabay" alt="escrimeur en duel">
		</div>
		<div class="txtM2l">
			<p>
				La maison des ligues de lorraine vous accueille sur son site dédié à la sixième édition des championnats du monde d'escrime artistique organisé par la ligue d'escrime de lorraine.
			</p>
		</div>
		{# </div> #}
			<div class="txtM2l">
		{% if not app.user %}
			Veuillez vous connecter<a href="{{path('app_login')}}">
				en cliquant par ici</a>
			ou vous inscrire<a href="{{path('creation_compte')}}">
				ici.</a>
		{% else %}
			{% if is_granted('ROLE_USER') or is_granted('ROLE_INSCRIT') %}
				Vous pouvez vous inscrire au congrès<a href="{{path('inscription_sejour')}}">
					par ici.
				{% else %}
					Créez des ateliers, thèmes, vacations<a href="{{path('congres_theme')}}">
						par ici.
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>

		{% endblock %}
