{% extends 'base.html.twig' %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}

			{% if app.user.activationtoken %}
				<div class="alert alert-danger">Votre compte n'a pas encore été activé, veuillez vérifier vos mails afin de l'activer.</div>
			{% endif %}

			{% if not app.user.activationtoken %}
				<div class="mb-3">
					Vous êtes connecté en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}

		{% endif %}


		<div class="container">
			<div class="InscriptionBox">
				<h1 class="h3" id="loginH1">Veuillez vous connecter</h1>
				<div class="form-floating mb-3">
					<input type="text" value="{{ last_username }}" name="numLicence" id="inputNumLicence" placeholder="Entrez votre numéro de licence" class="form-control" required autofocus>
					<label for="inputNumLicence">Numéro de licence</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" name="password" id="inputPassword" placeholder="Entrez votre mot de passe" class="form-control" required>
					<label for="inputPassword">Mot de passe</label>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<a style="font-size: 0.9em" href="/mdpOublie">Mot de passe oublié ?</a>
			</div>
			<div id="loginBtn">
				<button class="btn btn-primary" style="margin: 0 10px" type="submit">Connexion</button>
				<div class="btn btn-primary" style="margin: 0 10px" type="submit">
					<a href="{{path('creation_compte')}}" style="text-decoration:none;color:white;">Inscrivez-vous</a>
				</div>
			</div>
		</div>

	</form>
{% endblock %}
