{% extends 'base.html.twig' %}
{% block body %}
    {{form_start(form)}}
        <div class="InscriptionBox">
            <div>
                <div class="form-check-inline">                   
                    {{ form_widget(form.ateliers) }}
                </div>
                <div>
                    <h5>Bulletin Réservation hôtel</h5>
                    {{ form_widget(form.hotel1) }}
                    <hr>
                    {{ form_widget(form.hotel2) }}
                </div>
            </div>
        </div>
    {{form_end(form)}}
{% endblock %}